@import url('./__but/tabel__but.css');
@import url('./__header-ul/tabel__header-ul.css');
@import url('./__td/tabel__td.css');
@import url('./__tr/tabel__tr.css');
@import url('./__row/tabel__row.css');
@import url('./__row-main/tabel__row-main.css');
@import url('./__substring/tabel__substring.css');
@import url('./__block/tabel__block.css');


.table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background: #ECE9E0;
  color: #656665;
  border: 16px solid #ECE9E0;

  margin: 0px auto;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}
