@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/tabel/tabel.css');
@import url('./blocks/empty-layout/empty-layout.css');

body {
  background-color: darkgrey;
}
.app__block {
  margin: 0 auto;
}


.card__center {
  max-width: 400px;
  position: absolute;
  top: calc(50% - 181px);
  left: calc(50% - 162px);
}


